{
    margin:0;
    panding:0;

}
    .titulo {
        color: #380b61;
        margin-left: 7%;
        font-family: sans-serif;
      }
    

#subtitulo{
    color: #380b61;
    margin-left: 10%;
    font-family: sans-serif;

}

fieldset{
    border:0;
}

body{
    background-color: #f0f8ff;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input,select,textarea,button

}

.campo {
    margin-bottom: 0,2;
    color: #59429d ;
    display: block;
}
fieldset.grupo .campo
float : :left;
margin-right : 1em

}

.campo input [type="texto"], .campo input [type="email"], .campo select , .campo textarea {
    padding: 0.2;
    border: 1px solid #59429d
    box-shadow: 2px 2px 2px rgb(0,0,0,0,2)
    display: block
}


